<div>
        <h3>Varauttu tila:</h3>
        <p>lomakeData.tilaId</p>

        <h3>Päivämäärä:</h3>
        <p>lomakeData.start - lomakeData.end</p>

        <h3>Valitut lisäpalvelut:</h3>
        <p>lomakeData.lisapalvelut</p>
        <p>lomakeData.lisapalvelut</p>
        <p>lomakeData.lisapalvelut</p>

        <h3>Varaajan yhteystiedot:</h3>
        <h4>Etunimi:</h4>
        <p>lomakeData.Etunimi</p>

        <h4>Sukunimi:</h4>
        <p>lomakeData.Sukunimi</p>
        
        <h4>Puhelinnumero:</h4>
        <p>lomakeData.Puhelinnumero</p>

        <h4>Osoite:</h4>
        <p>lomakeData.Osoite</p>

        <h4>Postitoimipaikka:</h4>
        <p>lomakeData.Postitoimipaikka</p>

        <h4>Postinumero:</h4>
        <p>lomakeData.Postinumero</p>

        <h4>Maksutapa:</h4>
        <p>lomakeData.Maksutapa</p>

</div>