

<div class="container">
    <h2 style="text-align:center">Varausten hallinta</h2>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="varaus in varaukset">
            <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#{{varaus._id}}">
                {{varaus.sukunimi}}, {{varaus.etunimi}}
                </a>
            </h4>
            <button class="btn btn-warning" ng-click="muokkaaVarausta($index)">Muokkaa</button>
            <button class="btn btn-danger" ng-click="poistaKokoVaraus($index)">poista</button>
            </div>
            <div id="{{varaus._id}}" class="panel-collapse collapse in">
            <div class="panel-body">
                Kissa-vitun-Kala

                {{varaus.tilaId}}
                {{varaus.pnumero}}
                {{varaus.osoite}}
                {{varaus.postinumero}}
                {{varaus.postiToimipaikka}}

                

                <table class="table">
                        <thead>
                            <tr>
                            <th>Varaus alkaa</th>
                            <th>Varaus loppuu</th>
                            <th>Varauksen hinta</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="aika in varaukset[$index].varaukset">
                            <td>{{aika.start}}</td>
                            <td>{{aika.end}}</td>
                            <td>{{aika.hinta}}€</td>
                            <td>
                                <button class="btn btn-danger" ng-click="poistaYksittainenVaraus($index)">Poista</button>
                                <button class="btn btn-warning" ng-click="muokkaaVarausta($index)">Muokkaa</button>
                            </td>
                            </tr>
                        </tbody>
                    </table> 
            </div>
            </div>
        </div>

    </div>
      


</div>
