<div class="container">
    <h2 style="text-align:center">Varauslomake</h2>

    <div class="col-xs-12">
        <div class="col-xs-12">
            <h3>Tilauksen yhteenveto</h3>
            <h5>Varattu tila:</h5>
            <p>{{yhteenveto.tilaId}}</p>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Varaus alkaa</th>
                        <th>Varaus loppuu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in yhteenveto">
                        <td>{{x.start}}</td>
                        <td>{{x.end}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <form class="form-horizontal" name="form">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="etunimi">Etunimi:</label>
                <input type="text" class="form-control" ng-model="varaus.etunimi" id="etunimi" placeholder="Etunimi" name="etunimi">
            </div>

            <div class="form-group">
                <label for="pnumero">Puhelinnumero:</label>
                <input type="number" class="form-control" ng-model="varaus.pnumero" id="pnumero" placeholder="Puhelinnumero" name="pnumero">
            </div>

            <div class="form-group">
                <label for="osoite">Postiosoite:</label>
                <input type="text" class="form-control" ng-model="varaus.osoite" id="osoite" placeholder="Postiosoite" name="osoite">
            </div>

            <div class="form-group">
                <label for="postiNumero">Postinumero:</label>
                <input type="number" class="form-control" ng-model="varaus.postiNumero" id="postiNumero" placeholder="Postinumero" name="postiNumero">
            </div>

        </div>

        <div class="col-xs-6">

            <div class="form-group">
                <label for="sukunimi">Sukunimi:</label>
                <input type="text" class="form-control" ng-model="varaus.sukunimi" id="sukunimi" placeholder="Sukunimi" name="sukunimi">
            </div>

            <div class="form-group">
                <label for="email">Sähköposti:</label>
                <input type="email" class="form-control" ng-model="varaus.email" id="email" placeholder="Sähköpostiosoite" name="email">
            </div>

            <div class="form-group">
                <label for="postiToimipaikka">Postitoimipaikka:</label>
                <input type="text" class="form-control" ng-model="varaus.postiToimipaikka" id="postiToimipaikka" placeholder="Postitoimipaikka" name="postiToimipaikka">
            </div>

        </div>
        <div class="col-xs-12" id="maksutapa">
            <h2>Maksutapa</h2>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-disabled="verkkomaksu==true" ng-model="varaus.lasku" name="remember">Lasku</label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"  ng-disabled="varaus.lasku==true" ng-model="verkkomaksu" name="remember">Verkkopankki</label>
            </div>

            <!--Maksutapa plugari tähän-->
            <div ng-show="verkkomaksu == true" class="jumbotron">
                <h2>Verkkopankkimaksu plugari</h2>
            </div>
            

        </div>

        

            <div class="col-xs-6">
                <h3>Lisäpalvelut</h3>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="varaus.ruoka" name="remember"> Ruoka- ja juomapalvelut</label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="varaus.vahti" name="remember"> Vahtimestaripalvelut</label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="varaus.it" name="remember"> IT-tuki</label>
                </div>

            </div>

            <div class="col-xs-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember"> Vahvistan annetut tiedot oikeiksi</label>
                </div>
                <button class="btn btn-default" ng-click="myFunc()">Lähetä</button>
                <button type="cancel" class="btn btn-default">Peruuta</button>
            </div>


        </div>

    </form>

    <div class="modal" id="virheIkkuna" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Sulje"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Virhe</h4>
                </div>
                <div class="modal-body">

                {{ virheteksti }}


                </div>
                <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
        </div> 


</div>